.Header {
  /* background-color: #800000; */
  /* background-color: rgba(128, 0, 0);  for transparent header*/
  background-color: rgba(128, 0, 0);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* edit this */
  width: 100%;
  height: 125px;
  z-index: 3;
}

.Header h1 {
  font-size: 32px;
  font-weight: 700;
  margin-right: 20px;
  
}

.Header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.Header nav ul li {
  margin-left: 20px;
  margin-right: 20px
}

.Header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 50px;
  font-weight: 400;
  font-family: "Lilita One";
}

header nav ul li a:hover {
  color: #f60;
}

.header-logo {
  margin-top: 100px;
  border-radius: 500px;
  height: 200px;
  width: 200px;
}

@media only screen and (max-width: 768px) {
  .Header {
    flex-wrap: wrap;
    justify-content: center;
  }

  .Header h1 {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .Header nav {
    margin-top: 20px;
  }

  .Header nav ul {
    flex-direction: column;
    align-items: center;
  }

  .Header nav ul li {
    margin: 10px 0;
  }
}
