body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* You can replace 'Roboto' with any other suitable dodgeball website font */
  background-color: rgb(160, 0, 0);
}

.InfoBox {
  max-width: 750px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.InfoBox h2 {
  color: rgb(160, 0, 0);
  border-bottom: 2px solid rgb(160, 0, 0);
  padding-bottom: 10px;
  text-align: center;
}

.InfoBox p {
  /* font-family:"Concert One"; */
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Additional styling for the white strip at the top */
header {
  background-color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* You may add more styling as needed for buttons or links for registration */

  

  @keyframes slide-in {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .slide-in {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 0.5s ease-out forwards;
  }